@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
*{
	margin: 0px;
	padding: 0px;
}

html, body { 
	height: 100%;
	margin: 0;
	padding: 0;
	background: #f8f8f8;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	overflow: hidden !important; /* FF Scroll-leiste */ 
}

body {
	font-family: 'Open Sans', sans-serif;
    font-size: 11px;
}

.container {
	width: 450px;
	margin: 0 auto;
}

/*
 * Dashboard
 */

#ugtop {
    width: 100%;    
    height: 61px;
    background: #32383d;    
}

#uglogo {
    background: #2d3237;
    display: block;
    width: 90px;
    height: 60px;
    float: left;
}

#uglogo a{
    border: 0px solid;   
}

#ugsettings {
    float: left;
    padding: 21px 80px 0px 0px;
}

#ugsettings a, #ughelp a {
    color: #fff;
    font-size: 13px;
}

#ugsettings a:hover, #ughelp a:hover {
    color: #e6e6e6;
}


#ughelp {
    float: left;
    padding: 21px 55px 0px 0px;
}

#ughead {
    width: 100%;
    height: 180px;
    background: url(../img/ugdash/head.jpg) no-repeat;
    background-size: cover;
    padding-top: 65px;
}

#innerhead {
    width: 944px;
    height: 97px;
    margin: 0 auto;
}

#dashboard_container {
    width: 945px;
    min-height: 300px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    margin-top: -38px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #e4e4e4;
}

#dashboard_container h4 {
    color: #b7b7b7;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase; 
}

/*
 * Dash_Navigation_Inner_Header
 */

#innerhead ul {
    list-style: none;   
}

#innerhead li{
    float: left;
    width: 96px;
    margin-left: 113px;
}

#innerhead li:first-child{
    float: left;
    width: 96px;
    margin-left: 0px;
}

#innerhead li:first-child {
    padding-left: 0px;
}

#innerhead a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

.ugactive{
    background: #32383d;
    border-radius: 5px;
    border-bottom: 1px solid #fff;
}
.ugactive img {
    padding: 22px 15px 22px 15px;   
}

.uglink img {
    padding: 22px 15px 22px 15px;   
}

#ugright {
    float: right;   
}

/*
 * Dashboard Profil Dropper
 */

ul#ugprofil_drop { 
    display: table; 
    list-style: none; 
    margin: 0 auto; 
    padding: 0;
}

		ul#ugprofil_drop > li { 
            float: left; 
            margin-right: 20px; 
            margin-bottom: 20px; 
            background: #2d3237; 
            padding: 10px 10px; 
        }

		ul#ugprofil_drop > li:last-child { 
            margin-right: 0; 
        }

		ul#ugprofil_drop > li > span { 
            margin-bottom: 10px; 
        }

div#profil-dropdown {
	position: relative;
	font-size: 14px;
	color: #fff;
}

	div#profil-dropdown > .account	{
		text-align: center;
		cursor: pointer;
		padding: 5px 10px;
		-webkit-transition: 0.1s ease-in;
		-moz-transition: 0.1s ease-in;
		-o-transition: 0.1s ease-in;
		transition: 0.1s ease-in;
	}

	div#profil-dropdown > .account:hover
	{
		background: #404a52;
	}

	div#profil-dropdown > .account:active, div#profil-dropdown > .account.active
	{
		background: #374047;
	}

	div#profil-dropdown > .account > span
	{
		margin: 0 10px;
	}

	div#profil-dropdown > .account > img
	{
		vertical-align: middle;
	}

	div#profil-dropdown > .dropdown
	{
		position: absolute;
		width: 190px;
		top: 80px;
		left: 50%;
		margin-left: -95px;
	}

	div#profil-dropdown > .dropdown::before
	{
		content: '';
		display: block;
		position: absolute;
		border: 10px solid #2d3237;
		border-left: 10px solid rgba(255, 255, 255, 0);
		border-right: 10px solid rgba(255, 255, 255, 0);
		border-top: 0px solid rgba(255, 255, 255, 0);
		top: -10px;
		left: 50%;
		margin-left: -10px;
	}

	div#profil-dropdown > .dropdown > ul 
    {
		display: block;
		margin: 0; padding: 0;
		list-style: none;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		overflow: hidden;
		background: #2d3237;
	}

	div#profil-dropdown > .dropdown > ul > li a
	{
		display: block;
		padding: 10px 30px;
		font-size: 13px;
        color: #fff;
		border-top: 1px solid rgba(255, 255, 255, 0.05);
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	}

	div#profil-dropdown > .dropdown > ul > li a:hover
	{
		margin: 0;
		padding: 10px 30px;
		background: #48535c;
        color: #fff;
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	}

	div#profil-dropdown > .dropdown > ul > li a > img
	{
		vertical-align: middle;
		margin-right: 10px;
	}

	div#profil-dropdown > .dropdown > ul > li:first-child a
	{
		border-top: none;
	}

	div#profil-dropdown > .dropdown > ul > li:last-child a
	{
		border-bottom: none;
	}

/*
 * Add Articles
 */

#article-title {
    width: 100%;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #dadfe5;
}

.article-title-inner {
    width: 945px;
    margin: 0 auto;
}

#article-title-input {
    font-size: 29px;
    line-height: 40px;
    font-weight: lighter;
    float: left;
    width: 836px;
    padding: 30px 0;
    background: transparent;
    border: 0 none;
    color: #4a525f;
}

#article-text {
    width: 100%;
    min-height: 400px;
    background: #eceef1;
}

.article-text-inner {
    width: 945px;
    margin: 0 auto;
}

.article-save-bttn {
    display: inline-block;
    padding: 0 22px;
    color: #fff;
    background: #6aad28;
    font-size: 13px;
    line-height: 38px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 29px;
}

.article-save-bttn:hover {
    background: #4f8c12;
}

span.article-error {
    background: #c0392b;
    color: #ecf0f1;
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px 0px;
    font-size: 12px;
    border-bottom: 3px solid #e74c3c;
    font-weight: bold;
}

#article-tools {
    background: #ccd2d9;
    width: 100%;
    min-height: 230px;
    border-top: 1px solid #eceef1; 
}
/*
 * Fancy FadeIn
 */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.9s;
    -moz-animation-duration:0.9s;
    animation-duration:0.9s;
}
/*
 * End
 */

span.article-succeed {
    background: #27ae60;
    color: #ecf0f1;
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px 0px;
    font-size: 12px;
    border-bottom: 3px solid #2ecc71;
    font-weight: bold;
}

.mce-container, .mce-container *, .mce-widget, .mce-widget * {
    color: #666!important;
    border: 0 none;
}

.mce-statusbar .mce-container-body {
    background: #eceef1;
    border: 0 none;
}

.mce-container, .mce-container-body {
    background: #eceef1!important;
    border: 0 none;
}

.mce-panel {
    border: 0 none!important;
    border: 0 none;
}

/*
 * Texte/ Links
 */
 
a:link, a:visited {
	color: slateGray;
	text-decoration: none;
}

a:hover {
	color: #444;
}

small {
	color: #999;
	font-style: italic;
}

p {
	line-height: 25px;
	text-align: justify;
	color: #444;
	font-size: 15px;

}

strong {
	font-weight: 600;	
}

ol li {
	line-height: 50px;
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px 0;
   font-family: 'Open Sans', sans-serif;
    font-weight: 400;
	text-decoration: none;
}
h1{
	font-size:1.3em;
}
h2{
	font-size:1.1em;
}
h3,h4,h5,h6{
	font-size:1em;
}

/*
 * Inputs
 */
 
input[type=text], input[type=password], textarea {
	-webkit-appearance:	none;
	padding: 5px;
	border: 1px solid #ccc;	
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
	outline: none;
	
}

textarea {
	width: 450px;
	height: 200px;
	resize: none;
}


footer{
	line-height: 25px;
	text-align: justify;
	color: #444;
	font-size: 15px;
	border-top:1px dashed #999;
	margin-top:10px;
}

/*
 * Installation
 */
#install input[type=text], #install input[type=email], #install input[type=password], #install textarea {
	-webkit-appearance:	none;
	padding: 5px;
	border: 1px solid #ccc;
	width: 450px;
	height: 30px;
	margin: 0px 0px 10px 0px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;	
	color: #666666;
}

#install input[type=text]:focus, #install input[type=email]:focus, #install input[type=password]:focus, #install textarea:focus {
	outline: none;
	
}

#install input[type=submit] {
	-webkit-appearance:	none;
	padding: 5px;
	border: 1px solid #ccc;
	width: 100px;
	height: 30px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;	
	color: #d96d55;
	float: right;
	background: #fff;
	margin: 0px -12px 0px 0px;
}

#installation {
	width: 400px;
	margin: 0 auto;	
}

.installbar {
	height: 3px;
	position: absolute;
	top: 0px;
	background: #d96d55; 		
}

#schritt {
	position: absolute;
	top: 20px;
	background: #ffffff;
	display: block;
	padding: 10px 30px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
	color: #666666;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.error {
	color: #d96d55;
	font-size: 12px;
	font-style: italic;
	margin: 10px 0px;
} 

/*
 * Clearfix: contain floats
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
